*{
	/* Inclua preenchimento e borda na largura e altura totais do elemento - enquadramento das DIV */
	box-sizing: border-box;
}

body{
	font-size: Verdana;
	margin: 0;
	
}

nav{
	/* Defina o alinhamento do texto para diferentes elementos */
	text-align: center;
	background-color: #333;
	width: 100%;
}

nav a{ /*link */
	/* Passe o mouse sobre um elemento <div> para alterar gradualmente a largura */
	transition: 400ms;
	/* Defina diferentes decorações de texto para os elementos */
	text-decoration: none;
	color: white;
}

nav a:hover{ /*link */
	color: #1abc9c;
	font-size: 20px;
}

nav ul{ /*lista */
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav li{ /* item da lista */
	list-style-type: none;
	display: inline;
	padding: 10px;
}

header { /*cabeçalho */
	padding: 60px;
	text-align: center;
	background-color: #1abc9c;
	color: white;
}

p a{
	text-decoration: none;
	color: black;
}

.container{
	display: flex;
	flex-wrap: wrap;
}

.esquerda{
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
	
}

.conteudo{
	flex: 70%;
	background-color: white;
	padding: 20px;
}

.imgFake{
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

.footer{
	padding: 20px;
	background-color: white;
	text-align: center;
}

@media screen and (max-width: 700px){ /*até 700px irá trabalhar assim */
	.container, nav {
		flex-direction: column;
	}
	header{
		background: green;
	}
	.label, .input, input[type=submit], input[type=reset]{
		width: 100%;
		margin-top: 0;
	}
}
/* resolução de tela com a ideia de responsividade */


/* CSS do form */
/* Para todos os inputs */
input{
	color: purple;
}

/* Específico para alguns inputs*/
input[type=text], input[type=email], input[type=tel], select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: vertical;
}

input[type=submit]{
	background-color: #4caf50;
	float: right;
	color: white;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	padding: 12px 20px;
	margin: 5px;
}

input[type=submit]:hover{
	background-color: #45a049;
}

input[type=reset]{
	background-color: #af4c4c;
	float: right;
	color: white;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	padding: 12px 20px;
	margin: 5px;
}

input[type=reset]:hover{
	background-color: #eb6767;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

.label{
	float: left;
	width: 25%;
	margin-top: 6px;
}

.input{
	float: left;
	width: 75%;
	margin-top: 6px;
}